.weather-page {
  height: 100vh;
  background-image: url('/src/assets/Ceu-Azul.jpg');
  background-size: cover;
  background-position: center;
  overflow-y: auto;
  padding: 40px 0;
}

.blur-overlay {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px 30px;
  color: white;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.weather-info {
  margin-bottom: 50px;
}

.weather-info h1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 25px;
}


.weather-info p {
  font-size: 30px;
  margin: 10px 0;
}

.temp-highlight {
  font-size: 30px;
  font-weight: 500;
  margin-top: -25px;
  margin-bottom: 30px;
  color: #e0e0e0;
}


.weather-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(8px);
  padding: 16px 24px;
  border-radius: 16px;
  min-width: 120px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}
.temp-range {
  font-size: 20px;
  font-weight: 500;
  margin-top: -25px;
  margin-bottom: 30px;
  color: #e0e0e0;
}
.logo {
  font-size: 48px;
  font-weight: bold;
  color: rgba(40, 0 , 255, 0.8);
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
  color: rgba(91, 65, 233, 0.8);
}
